---
import './reset.css';
import './typography.css';
import { base, header, nav } from './Base.css';

interface Props {
  title: string;
  description: string;
  type: 'website' | 'article';
}

const { title, description, type } = Astro.props;
---

<html class={base} lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description}/>
    <meta property="og:type" content={type} />
    <title>{title}</title>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap'
      rel='stylesheet'
    />
  </head>
  <body>
    <header class={header}>
      <a href='/'>Home</a>
      <nav class={nav}>
        <a href='https://www.twitter.com/askoufish'>Twitter</a>
        <a href='https://www.github.com/askoufis'>GitHub</a>
        <a href='/about-me'>About Me</a>
      </nav>
    </header>
    <slot />
  </body>
</html>
